<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/style.css" rel="stylesheet" />
    
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>

    <header>
        Программирование на С# ASP.NET CORE
    </header>
    <div class="wrapper">
        <div class="menu">
            <div class="contentmenu">
                <ul class="menulist">
                    <li>
                        <a href="#">Главная</a>
                        <ul class="sub-menu">
                            <li><a href="№">О сайте</a></li>
                            <li><a href="#">Разные</a></li>
                            <li><a href="#">База данных</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="theory" href="#">Теория</a>
                        <ul class="sub-menu">
                            <li><a asp-controller="Theory" asp-action="Index">Введение в программирование</a></li>
                            <li><a href="https://metanit.com/sharp/aspnet5/">ASP.NET CORE</a></li>
                            <li><a href="#">WPF</a></li>
                            <li><a href="#">WIN FORMS</a></li>
                            
                        </ul>
                    </li>

                    <li>
                        <a href="#">Приложения</a>
                        <ul class="sub-menu">
                            <li><a href="#">Мои приложения</a></li>
                            <li><a href="#">Разные</a></li>
                            <li><a href="#">База данных</a></li>
                        </ul>
                    </li>
                    <li><a href="#">О себе</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <h2>Общие советы по программированию</h2>
            <div class="contentbody">

                <ul class="theorymenu">
                    <li><a href="startprog/priorknowledge.html">Предварительные знания</a></li>
                    <li><a href="startprog/areaprog.html">Области программирования</a></li>
                    <li><a href="#">О языке программирования С#</a></li>
                    <li><a href="#">HTML CSS</a></li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>

















@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MySite</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MySite</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - MySite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>*@
